.header-wrapper {
    height: 60px;
    background-color: #1DA1F2;
    padding: 16px;
    display: flex;
    justify-content: space-between;

    &__header-text {
        font-size: 18px;
        font-family: 'Roboto';
        font-weight: 500;
        color: #FFFFFF;
    }

    .delete-button {
        width: 15px;
    }
}